<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/telaPrincipal.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex">
            <div>
                
                <a href="../index.html"><img src="../img/Itatech.png" alt="Logo da Itatech"></a>
            </div>
            <div id="tam-div-meio" class="first">
                <form>
                    <input class="barra-pesquisa mover-barra-pesquisa"type="text" placeholder="O que deseja?">
                    <span class="icon pos-search" id="icon-barra-pesquisa"><img src="../img/Vector.png" alt="icon de pesquisa"></span>
                </form>
            </div>
            <div class="mover-login second pos-login" id="tam-div-meio">
                <input class="botao-login-header " type="button" value="Login">
            </div>
        </div>
    </header>
    <div id="div-img">
        <img class="tam-img-maior" src="../img/Hero (1).png" alt="Imagem pricipal da tela">
        <div class="pos-div">
            <span class="cor tam-font">Fevereiro Promocional</span><br><br>
            <span class="cor tam-font2"><b>Produtos selecionados com 33% de desconto</b></span><br><br>
            <input class="botao-img" type="button" value="Ver Consoles">
        </div>
    </div>
    <div>
        <div class="alinhar-titulo">
            <div class="tamanho-div">
                <span><b class="font cor-prod">Star Wars</b></span>
            </div>
            <div class="tamanho-div right">
                <span class="cor-font pos-ver-tudo"><b>Ver tudo</b></span>
                <img class="tam-icon" src="../img/Vector0.png" alt="imagem de uma seta">
            </div>
        </div>
        <div class="linha-prod tam-linha" id="distancia-borda"> 
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/StarWars/4.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/StarWars/1.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div> 
            </div>
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/StarWars/2.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/StarWars/6.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
            <div class="aux espasamento-prod remover">
                <div>
                    <img src="../img/StarWars/3.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/StarWars/5.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
        </div>       
    </div>
    <div>
        <div class="alinhar-titulo">
            <div class="tamanho-div">
                <span><b class="font cor-prod">Consolas</b></span>
            </div>
            <div class="tamanho-div right">
                <span class="cor-font pos-ver-tudo"><b>Ver tudo</b></span>
                <img class="tam-icon" src="../img/Vector0.png" alt="imagem de uma seta">
            </div>
        </div>
        <div class="linha-prod tam-linha" id="distancia-borda"> 
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/Consolas/1.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Consolas/2.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div> 
            </div>
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/Consolas/6.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Consolas/4.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
            <div class="aux espasamento-prod remover">
                <div>
                    <img src="../img/Consolas/5.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Consolas/3.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
        </div>       
    </div>
    <div>
        <div class="alinhar-titulo">
            <div class="tamanho-div">
                <span><b class="font cor-prod">Diversos</b></span>
            </div>
            <div class="tamanho-div right">
                <span><b class="cor-font pos-ver-tudo">Ver tudo</b></span>
                <img class="tam-icon" src="../img/Vector0.png" alt="imagem de uma seta">
            </div>
        </div>
        <div class="linha-prod tam-linha" id="distancia-borda"> 
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/Diversos/3.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Diversos/2.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div> 
            </div>
            <div class="aux espasamento-prod ajuste">
                <div>
                    <img src="../img/Diversos/6.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Diversos/4.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
            <div class="aux espasamento-prod remover">
                <div>
                    <img src="../img/Diversos/5.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
                <div class="espasamento-prod">
                    <img src="../img/Diversos/1.png" alt=""><br>
                    <span>Produto XYZ</span><br>
                    <R1><b class="cor-prod">$ 60,00</b></R1><br>
                    <span><b class="cor-font">Ver producto</b></span>
                </div>
            </div>
        </div>       
    </div>
    <div>    
    <div class="flex-formulario cell">
        <div class="tablet cell flex-formulario-interno">
            <div id="tam-div-menor" class="cell">
                <img src="../img/Itatech.png" alt="Logo da Itatech">
            </div> 
            <div>
                <nav id="tam-div-menor" class="cell">
                    <a href="">Quem somos</a><br><br>
                    <a href="">Politica de privacidade</a><br><br>
                    <a href="">Programa de fidelidade</a><br><br>
                    <a href="">Novas Tendencias</a><br><br>
                    <a href="">Quero ser franqueado</a><br><br>
                    <a href="">Anucie aqui</a><br><br>
                </nav>
            </div>
        </div>
        <div id="tam-div-maior">
            <span><b>Fale conosco</b></span><br>
            <label class="pos-label" id="id-label" for="">Nome<br></label>
            <input class="tamanho-input-formulario" type="text" value="André Lisboa"><br><br>
            <textarea name="" id="" class="tamanho-txa-formulario" cols="80" rows="3" placeholder="Escreva sua mensagem"></textarea><br>
            <input id="botao"class="tamanho-botao-formulario" type="submit" value="Enviar mensagem">
        </div>
    </div>
    <footer>
        <span>Desenvolvido por <b>Reinan de Jesus Santos</b></span>
        <span>22</span>
    </footer>
</body>
</html>